{% extends "base_generic.html" %}
{% load range list_index %}


{% block content %}
    <script type="text/javascript">
        function onAddToShoppingCartButtonClick() {
            document.getElementById('add_to_cart_form').submit();
        }

        function onWriteCommentButtonClick() {
            let to_show = [
                'comment_textarea_label',
                'comment_textarea',
                'submit_comment_button',
                'scores_select',
            ]
            to_show.forEach(function (element) {
                document.getElementById(element).className = 'show';
            })
        }

        function onSubmitCommentButtonClick() {
            if (document.getElementById('comment_textarea').value === '') {
                window.alert("Comment text cannot be empty");
                return;
            }
            document.getElementById('comment_text_form').submit();
        }
    </script>

    {% if book %}
        <h1>Title: {{ book.title }}</h1>
        <li>
            <strong>Author(s):</strong>
            <br>
            {% for author in authors %}
                &emsp;&emsp;{{ author.first_name }} {{ author.last_name }}
                <br>
            {% endfor %}
        </li>
        {% for key, value in book_dict.items %}
            {% if key == "price" %}
                <li><strong>{{ key }}</strong>: ${{ value }}</li>
            {% else %}
                <li><strong>{{ key }}</strong>: {{ value }}</li>
            {% endif %}
        {% endfor %}
        <div style="margin-top:20px">
            {% if not user.is_authenticated %}
                Please login/sign up to buy the book or write a comment <br><br>
            {% else %}
                <form method="post" id="add_to_cart_form">
                    {% csrf_token %}
                    <input type="hidden" name="add_to_shopping_cart" value="">
                </form>
                <input type="button" onclick=onAddToShoppingCartButtonClick() value="Add to shopping cart">
                <input type="button" onclick=onWriteCommentButtonClick() value="Write a comment">
                <form method="post" id="comment_text_form">
                    {% csrf_token %}
                    <label class="hide" for="comment_textarea" id="comment_textarea_label">
                        Enter your score and comment:
                    </label>
                    <select class="hide" name="scores" id="scores_select">
                        {% for i in 1|range:11 %}
                            <option value={{ i }}>{{ i }}</option>
                        {% endfor %}
                    </select>
                    <textarea class="hide" name="comment_textarea" id="comment_textarea" rows="5" cols="70"></textarea>
                    <br>
                    <input class="hide" type="button" id="submit_comment_button" onclick=onSubmitCommentButtonClick()
                           value="Submit comment">
                </form>
            {% endif %}
            <hr>
            {% if not comments %}
                Currently there are no comments on this book. You could be the first!
            {% else %}
                {% with trust_list=trust_status|list_index:0 %}
                    {% for comment in comments %}
                        <hr>
                        <ul>
                            <li>
                                <strong>Commented by:</strong> {{ comment.username }}
                                <strong>on</strong> {{ comment.time }}
                            </li>
                            <li>
                                <strong>Score:</strong> {{ comment.score }}
                            </li>
                            <li>
                                <strong>Comment:</strong> {{ comment.comment_text }}
                            </li>
                        </ul>
                        <strong>Rate this comment:</strong><br>
                        {% if not user.is_authenticated %}
                            Please login/sign up to rate comment<br>
                        {% else %}
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name='comment_id' value="{{ comment.id }}">
                                <input type="submit" name='very_useful'
                                       value="very useful: {{ comment.very_useful_count }}">
                                <input type="submit" name='useful' value="useful: {{ comment.useful_count }}">
                                <input type="submit" name='useless' value="useless: {{ comment.useless_count }}">
                                <br><br>
                                {% with status=trust_list|list_index:comment.id %}
                                    {% if status == 'self' %}
                                        This is your <strong>own</strong> comment.
                                    {% else %}
                                        {% if status %}
                                            You currently <strong>{{ status }}</strong> this comment's user<br>
                                        {% else %}
                                            You haven't trusted or untrusted this comment's user<br>
                                        {% endif %}
                                        <input type="submit" name='trust' value="Trust this user">
                                        <input type="submit" name='untrust' value="Untrust this user">
                                    {% endif %}
                                {% endwith %}
                            </form>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </div>
    {% else %}
        <h1>Bad ISBN!</h1>
    {% endif %}
{% endblock %}