{% extends 'base_generic.html' %}

{% block content %}
    <h1>Bookstore</h1>
    <p>Welcome to Bookstore!</p>
    <h3>Most Purchased Books:</h3>
    {% if not most_purchased_books %}
        Currently there are no most purchased books.
        <br>
        <br>
    {% else %}
        {% for book in most_purchased_books %}
            <ul>
                <li>
                    <a href="{% url 'book_detail' book.isbn %}">
                        <strong>Title: </strong>{{ book.title }}&emsp;
                        <strong>ISBN: </strong>{{ book.isbn }}&emsp;
                        <strong>Price: </strong>${{ book.price }}&emsp;
                        <strong>Total sales: </strong>{{ book.total_quantity }}&emsp;
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
    <h3>Recommended Books:</h3>
    {% if not recommended_books %}
        Currently there are no books in the store.
    {% else %}
        {% for book in recommended_books %}
            <ul>
                <li>
                    <a href="{% url 'book_detail' book.isbn %}">
                        <strong>Title: </strong>{{ book.title }}&emsp;
                        <strong>ISBN: </strong>{{ book.isbn }}&emsp;
                        <strong>Price: </strong>${{ book.price }}&emsp;
                    </a>
                </li>
            </ul>
        {% endfor %}
    {% endif %}

{% endblock %}
