ul.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.hide {
    display: none;
}


.tab {
    tab-size: 8;
}

input[type=button].quantity_button {
    height: 30px;
    width: 30px;
}